<div class="container">

  <h1>ABOUT</h1>
  <p>This is gonna blow your mind. (It's a project management tool.)</p>
  <img src="http://www.startuptoolshop.com/uploads/4/2/2/7/42278185/379870197.jpg?634" alt="Project management tool" width="80%" />

</div>